.ptam-block-post-grid .ptam-post-grid-items .ptam-block-post-grid-image {
  margin-bottom: 0;
}

@media only screen and (min-width: 500px) {
  .game-list.ptam-block-post-grid div[class*="columns"].is-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 850px) {
  .game-list.ptam-block-post-grid div[class*="columns"].is-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.ptam-block-post-grid .ptam-block-post-grid-text .ptam-block-post-grid-title {
  font-size: 1.5rem;
}

.game-list .has-thumb {
  transition: all 0.15s;
  transform: scale(1);
}

.game-list .has-thumb img {
  width: 100%;
  height: auto;
}

.game-list .has-thumb:hover {
  transform: scale(1.05);
}

.game-list .has-thumb:hover img {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.4);
}
