<div class="col">
  <img alt="" class="logo" src="/wp-content/themes/offguardgames/images/offguardlogo-rev.png">
</div>

<div class="col">
  <p>
    <a href="#">Follow Us<br>
      <span class="twitter-handle">@offguardgames</span>
    </a>
  </p>
</div>

<div class="col">
  <p>&copy; Copyright
    {{"now"|date('Y')}}
    Off Guard Games</p>
</div>
