{% extends "base.twig" %}

{% block main %}
	<!-- page-band-of-blades.twig -->
	<section class="content-wrapper main bob max-width-container" id="content" role="main" tabindex="-1">
		<section class="max-width-container__content z-100">
			<div class="wrapper">
				<div class="content-wrapper">
					<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
						<section class="article-content">
							<div class="article-body">
								{{post.content}}
							</div>
						</section>
					</article>
				</div>
			</div>
		</section>
	</section>
{% endblock main %}
