{% extends "tease.twig" %}

{% block content %}
  {% if post.get_thumbnail %}
    <img class="tease__thumbnail" src="{{post.thumbnail.src}}"/>
  {% endif %}
  <section class="tease__content">
    <h2 class="tease__headline">
      <a href="{{post.link}}">{{post.title}}</a>
    </h2>
    <p>{{post.preview}}</p>
  </section>
{% endblock %}
