body {
  color: var(--color-dark);
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  margin-top: 2.5rem;
  margin-bottom: .5rem;
  line-height: 1.1;
}

h1 a,
h2 a,
h3 a,
h4 a,
h1 a:link,
h2 a:link,
h3 a:link,
h4 a:link {
  color: var(--color-dark);
  text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
  color: var(--color-link);
  text-decoration: underline;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

p {
  margin-top: 0;
}

p.lead {
  font-size: 1.3125rem;
}

blockquote.wp-block-quote {
  border-left: 4px solid var(--color-dark);
  font-size: 1.3125rem;
  font-style: italic;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 0rem;
  padding-left: 2rem;
}

@media only screen and (min-width: 760px) {
  blockquote.wp-block-quote {
    margin-left: -2rem;
  }
}

a,
a:link {
  color: var(--color-link);
}
a:hover {
  color: var(--color-link);
}