.bob {
  --color-text: #402E28;
  --color-link: var(--color-blue);
  --color-brown: #B39D7C;
  --max-width: 1100px;

  background: url("./bob-bkg.jpg") no-repeat top left #140B07;
  background-size: 100%;
  color: var(--color-white);
  position: relative;
}

.bob::after {
  content: "";
  background: url("./blood.png") repeat-y top left;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
}

.bob img {
  display: block;
}

/* Hero area */
@media (min-width: 500px) {
  .bob__hero-columns {
    padding: 0 2rem
  }
}

.bob__hero-columns > .wp-block-column:first-child {
  flex-basis: calc(100% * 0.6);
  flex-grow: 1;
}

.bob__hero-columns > .wp-block-column:last-child {
  flex-basis: calc(100% * (1 - 0.6));
}

.bob__hero-columns > .wp-block-column:last-child {
  display: none;
}

@media (min-width: 850px) {
  .bob__hero-columns > .wp-block-column:last-child {

  }

  .bob__hero-columns > .wp-block-column:last-child {
    display: block;
  }
}

.bob__hero-columns .small-cover figure {
  margin-top: -0.5rem;
  width: 40%
}

.bob__hero-columns .small-cover figure img {
  height: auto;
}

@media (min-width: 850px) {
  .bob__hero-columns .small-cover {
    display: none;
  }
}



.bob__hero-columns h3 {
  font-size: 2rem;
  margin: 0 0;
}
.bob__hero-columns p {
  font-size: 1.1rem;
}

.bob_wheretobuy .wp-block-image {
  margin-top: 1rem;
  margin-bottom: 0;
}

.bob-pink {
  color: #f26db6;
  font-size: 1.425rem;
  line-height: 1.2;
}

.bob__title {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 0;
}

@media (min-width: 500px) {
  .bob__title {
    font-size: 4rem;
  }
}

.bob__hero-columns .bob__welcome {
  margin-bottom: 2rem;
}

/* Cover */
.bob_cover img {
  box-shadow: 0 4px 45px rgba(0, 0, 0, 0.76);
  transform: rotate(3deg);
}

.wp-block-quote.blockquote__under-cover {
  border: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

/* util */
.bob_center {
  text-align: center;
}

/* Downloads */
.bob_downloads {
  margin: 1rem 0 0;
  padding: 0;
}

.bob_downloads li {
  list-style: none;
  margin: 0 0 0.5rem;
  padding: 0;
}

.bob_downloads li a {
  color: var(--color-white);
  text-decoration: none;
}

.bob_downloads li a:hover {
  text-decoration: underline;
}

.bob_downloads a[href$=".pdf"]::before {
  content: "";
  background: url("./pdf.svg") no-repeat top left;
  width: 12px;
  height: 16px;
  display: block;
  float: left;
  position: relative;
  top: 4px;
  margin-right: 0.5rem;
}

.bob_downloads a[href^="https://docs.google.com"]::before {
  content: "";
  background: url("./docs.svg") no-repeat top left;
  width: 12px;
  height: 16px;
  display: block;
  float: left;
  position: relative;
  top: 4px;
  margin-right: 0.5rem;
}

/* Blockquote */
blockquote.wp-block-quote__bob {
  border: none;
  text-align: center;
  margin-left: 0;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-right: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

blockquote.wp-block-quote__bob p {
  margin-bottom: 0;
}

blockquote.wp-block-quote__bob a {
  color: var(--color-text);
  text-decoration: underline;
}

blockquote.wp-block-quote__bob cite {
  font-size: 1.125rem;
  font-style: normal;
}

/* Image treatement */
.bob-img {
  position: relative;
}

.bob-img .wp-block-media-text__media::before,
.bob .wp-block-image.bob-img::before {
  content: "";
  position: absolute;
  background: linear-gradient(138.34deg, #DB0000 25.64%, #385080 52.77%, #402E28 78.96%);
  mix-blend-mode: lighten;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bob-img .wp-block-media-text__media::after,
.bob .wp-block-image.bob-img::after {
  content: "";
  position: absolute;
  background: linear-gradient(138.34deg, #654E39 25.64%, #B39D7C 52.77%, #402E28 78.96%);
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
}


/* media block */
.wp-block-media-text.wp-block-media-text__bob .wp-block-media-text__media {
  position: relative;
}

@media (max-width: 599px) {
  .bob .wp-block-media-text.wp-block-media-text__bob .wp-block-media-text__media img {
    max-height: 300px;
    display: block;
  }
}

.wp-block-media-text.wp-block-media-text__bob .wp-block-media-text__media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wp-block-media-text.wp-block-media-text__bob .wp-block-media-text__content {
  background: var(--color-brown);
  padding: 8%;
  display: flex;
  justify-content: center;
  align-self: stretch;
  flex-flow: column nowrap;
}

.wp-block-media-text.wp-block-media-text__bob .wp-block-media-text__content h1:first-child,
.wp-block-media-text.wp-block-media-text__bob .wp-block-media-text__content h2:first-child,
.wp-block-media-text.wp-block-media-text__bob .wp-block-media-text__content h3:first-child {
  margin-top: 0;
  margin-bottom: 1rem;
}

.wp-block-media-text.wp-block-media-text__bob .wp-block-media-text__content h3 {
  font-size: 2rem;
  font-weight: normal;
}


/* Faux side by side */
.bob .wp-block-columns.faux-side-by-side {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  background: var(--color-brown);
}

@media (max-width: 599px) {
  .bob .wp-block-columns.faux-side-by-side {
    grid-template-areas:
    "media-text-media"
    "media-text-content";
  }
}

@media (min-width: 600px) {
  .bob .wp-block-columns.faux-side-by-side {
    grid-template-areas: "media-text-media media-text-content";
  grid-template-columns: 50% auto;
  }
}

.bob .wp-block-columns.faux-side-by-side .wp-block-column {
  margin-bottom: 0;
}

.bob .wp-block-columns.faux-side-by-side .wp-block-column:not(.no-padding) {
  padding: 8%;
}

@media (max-width: 599px) {
  .bob .wp-block-columns.faux-side-by-side .wp-block-column {
    padding: 8%;
  }
}

.bob .wp-block-columns.faux-side-by-side .wp-block-column:first-child {
  grid-area: media-text-media;
}

.bob .wp-block-columns.faux-side-by-side .wp-block-column:last-child {
  grid-area: media-text-content;
  padding-right: 8%;
}

.bob .wp-block-columns.faux-side-by-side h3 {
  font-size: 1.8rem;
  font-weight: normal;
  margin-top: 0;
}

.bob .wp-block-columns.faux-side-by-side h3 + h3 {
  margin-top: 2rem;
}

.bob .wp-block-columns.faux-side-by-side .wp-block-image {
  margin: 0;
}

@media (max-width: 599px) {
  .bob .wp-block-columns.faux-side-by-side .wp-block-image {
    max-width: initial;
  }

  .bob .wp-block-columns.faux-side-by-side .wp-block-image img {
    max-height: 300px;
    display: block;
  }
}

.bob .wp-block-columns.faux-side-by-side .wp-block-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Forged in the dark */
.bob .media__forged-in-the-dark {
  background: #F2F2F2;
  grid-template-columns: auto 1fr;
  padding: 1rem;
  align-items: center;
  justify-items: center;
  grid-gap: 1rem;
}

.bob .media__forged-in-the-dark h3 {
  margin-top: 0;
  color: black;
  font-size: 2rem;
  font-weight: normal;
}

.main.bob .wp-block-media-text.media__forged-in-the-dark .wp-block-media-text__content {
  background: transparent;
  padding: 4% 0;
}

.bob .media__forged-in-the-dark .wp-block-media-text__media {
  max-width: 300px;
}

.bob .bob-watch-title {
  font-size: 3rem;
  margin-top: 4rem;
}

.bob .wp-block-embed-youtube {
  margin: 0;
  text-align: center;
}

.bob .wp-block-embed-youtube iframe {
  max-width: 100%;
}

.bob .actual-play-links {
  margin-bottom: 2rem;
  margin-top: 1rem;
}


.bob .actual-play-links.wp-block-columns {
  flex-wrap: nowrap;
}

.bob .actual-play-links .wp-block-image {
  margin: 0 4%;
}

.bob .actual-play-links .wp-block-image img {
  height: auto;
}

.bob .hidden {
  display: none !important;
}

.bob .no-padding {
  padding: 0 !important;
}