.sv {
  --color-text: var(--color-white);
  --color-link: var(--color-blue);
  --color-maroon: #731a4b;
  --color-purple: #5a378c;
  --max-width: 1100px;

  background: url("./sv-bkg.jpg") no-repeat top left #020204;
  background-size: 100%;
  color: var(--color-white);
  position: relative;
}

.sv::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 0.4;
}

/* Hero area */
.sv__hero-columns > .wp-block-column:first-child {
  flex-basis: calc(100% * 0.6);
  flex-grow: 1;
}

.sv__hero-columns > .wp-block-column:last-child {
  flex-basis: calc(100% * (1 - 0.6));
}

.sv__hero-columns > .wp-block-column:last-child {
  display: none;
}

@media (min-width: 850px) {
  .sv__hero-columns > .wp-block-column:last-child {

  }

  .sv__hero-columns > .wp-block-column:last-child {
    display: block;
  }
}

.sv__hero-columns .small-cover figure {
  margin-top: -0.5rem;
  width: 40%
}

.sv__hero-columns .small-cover figure img {
  height: auto;
}

@media (min-width: 850px) {
  .sv__hero-columns .small-cover {
    display: none;
  }
}



.sv__hero-columns h3 {
  font-size: 2rem;
  margin: 3rem 0 0;
}
.sv__hero-columns p {
  font-size: 1.1rem;
}

.sv_wheretobuy .wp-block-image {
  margin-top: 1rem;
  margin-bottom: 0;
}

.sv-pink {
  color: #f26db6;
  font-size: 1.425rem;
  line-height: 1.2;
}

.sv__title {
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

/* Cover */
.sv_cover img {
  box-shadow: 0 4px 45px rgba(0, 0, 0, 0.76);
  transform: rotate(3deg);
}

.wp-block-quote.blockquote__under-cover {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

/* util */
.sv_center {
  text-align: center;
}

/* Downloads */
.sv_downloads {
  margin: 1rem 0 0;
  padding: 0;
}

.sv_downloads li {
  list-style: none;
  margin: 0 0 0.5rem;
  padding: 0;
}

.sv_downloads li a {
  color: var(--color-white);
  text-decoration: none;
}

.sv_downloads li a:hover {
  text-decoration: underline;
}

.sv_downloads a[href$=".pdf"]::before {
  content: "";
  background: url("./pdf.svg") no-repeat top left;
  width: 12px;
  height: 16px;
  display: block;
  float: left;
  position: relative;
  top: 4px;
  margin-right: 0.5rem;
}

/* Blockquote */
blockquote.wp-block-quote__sv {
  text-align: center;
  margin-left: 0;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-right: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

blockquote.wp-block-quote__sv p {
  margin-bottom: 0;
}

blockquote.wp-block-quote__sv cite {
  font-size: 1.125rem;
  font-style: normal;
}

/* Image treatement */
.sv-img {
  position: relative;
}

.sv-img .wp-block-media-text__media::before,
.sv .wp-block-image.sv-img::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    148.23deg,
    #731a4b 25.64%,
    #385080 52.77%,
    #0084b4 78.96%
  );
  mix-blend-mode: lighten;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sv-img .wp-block-media-text__media::after,
.sv .wp-block-image.sv-img::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    148.23deg,
    #731a4b 25.64%,
    #385080 52.77%,
    #0084b4 78.96%
  );
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
}


/* media block */
.wp-block-media-text__sv {
  background: red;
}

.wp-block-media-text.wp-block-media-text__sv .wp-block-media-text__media {
  position: relative;
}

.wp-block-media-text.wp-block-media-text__sv .wp-block-media-text__media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wp-block-media-text.wp-block-media-text__sv .wp-block-media-text__content {
  background: var(--color-maroon);
  padding: 8%;
}

.sv .wp-block-columns.faux-side-by-side .wp-block-column.purple {
  background: var(--color-purple);
}

.wp-block-media-text.wp-block-media-text__sv .wp-block-media-text__content h1:first-child,
.wp-block-media-text.wp-block-media-text__sv .wp-block-media-text__content h2:first-child,
.wp-block-media-text.wp-block-media-text__sv .wp-block-media-text__content h3:first-child {
  margin-top: 0;
  margin-bottom: 1rem;
}

.wp-block-media-text.wp-block-media-text__sv .wp-block-media-text__content h3 {
  font-size: 2rem;
}


/* Faux side by side */
.sv .wp-block-columns.faux-side-by-side {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  background: var(--color-maroon);
}

@media (max-width: 599px) {
  .sv .wp-block-columns.faux-side-by-side {
    grid-template-areas:
    "media-text-media"
    "media-text-content";
  }
}

@media (min-width: 600px) {
  .sv .wp-block-columns.faux-side-by-side {
    grid-template-areas: "media-text-media media-text-content";
  grid-template-columns: 50% auto;
  }
}

.sv .wp-block-columns.faux-side-by-side.purple {
  background: var(--color-purple);
}

.sv .wp-block-columns.faux-side-by-side .wp-block-column {
  margin-bottom: 0;
}

.sv .wp-block-columns.faux-side-by-side .wp-block-column:not(.no-padding) {
  padding: 8%;
}

@media (max-width: 599px) {
  .sv .wp-block-columns.faux-side-by-side .wp-block-column {
    padding: 8%;
  }
}

.sv .wp-block-columns.faux-side-by-side .wp-block-column:first-child {
  grid-area: media-text-media;
}

.sv .wp-block-columns.faux-side-by-side .wp-block-column:last-child {
  grid-area: media-text-content;
  padding-right: 8%;
}

.sv .wp-block-columns.faux-side-by-side h3 {
  font-size: 1.8rem;
  margin-top: 0;
}

.sv .wp-block-columns.faux-side-by-side .wp-block-image {
  margin: 0;
}

@media (max-width: 599px) {
  .sv .wp-block-columns.faux-side-by-side .wp-block-image {
    max-width: initial;
  }

  .sv .wp-block-columns.faux-side-by-side .wp-block-image img {
    max-height: 300px;
    display: block;
  }
}

.sv .wp-block-columns.faux-side-by-side .wp-block-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Ship */
.sv .wp-block-columns.faux-side-by-side .wp-block-image.ship {
  display: none;
  margin-left: -8rem;
  margin-top: 3rem;
}

@media only screen and (min-width: 900px) {
  .sv .wp-block-columns.faux-side-by-side .wp-block-image.ship {
    display: block;
  }
}

.sv .wp-block-columns.faux-side-by-side .wp-block-image.ship img {
  height: auto;
  width: 542px;
  max-width: initial;
}


/* Forged in the dark */
.sv .media__forged-in-the-dark {
  background: #F2F2F2;
  grid-template-columns: auto 1fr;
  padding: 1rem;
  align-items: center;
  justify-items: center;
  grid-gap: 1rem;
}

.sv .media__forged-in-the-dark h3 {
  margin-top: 0;
  color: black;
  font-size: 2rem;
  font-weight: normal;
}

.main.sv .wp-block-media-text.media__forged-in-the-dark .wp-block-media-text__content {
  background: transparent;
  padding: 4% 0;
}

.sv .media__forged-in-the-dark .wp-block-media-text__media {
  max-width: 300px;
}

.sv .sv-watch-title {
  font-size: 3rem;
  margin-top: 4rem;
}

.sv .wp-block-embed-youtube {
  text-align: center;
}

.sv .actual-play-links {
  margin-bottom: 2rem;
}


.sv .actual-play-links.wp-block-columns {
  flex-wrap: nowrap;
}

.sv .actual-play-links .wp-block-image {
  margin: 0 4%;
}

.sv .actual-play-links .wp-block-image img {
  height: auto;
}

.hidden {
  display: none;
}

.sv .no-padding {
  padding: 0 !important;
}