.nav-primary {
  display: inline-block;
}

.nav-primary ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}

.nav-primary ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-primary ul li a {
  border-radius: 4px;
  display: inline-block;
  box-shadow: 0 4px 4px rgba(0,0,0,.15);
  width: calc(153px/1.5);
  height: calc(77px/1.5);
  transform: scale(1);
  transition: all .15s;
}

@media only screen and (min-width: 600px) {
  .nav-primary ul li a {
    width: 153px;
    height: 77px;
  }
}

.nav-primary ul li a:hover {
  transform: scale(1.05)
}

/* Scum and Villainy */
.menu-item-17 a {
  background: url('./sv-menu.jpg') no-repeat top left;
  background-size: contain;

  /* Hide the text. */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* Band of Blades */
.menu-item-16 a {
  background: url('./bb-menu.jpg') no-repeat top left;
  background-size: contain;

  /* Hide the text. */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}