.blog-author {
  margin-bottom: 3rem;
}

.blog-author a {
  color: var(--color-text);
  font-weight: bold;
  text-decoration: none;
}

.blog-author__image {
  border-radius: 100%;
  width: 25px;
  height: 25px;
  position: relative;
  top: 6px;
}