.header {
  background: var(--color-tan-light);
  position: relative;
  padding: 1rem;
}

@media only screen and (min-width: 900px) {
  .header {
    padding: 1rem 5rem;
  }
}

.header h1 {
  margin: 0;
}

.header .logo {
  display: block;
  max-width: 50px;
  position: relative;
  top: -3px;
}

@media only screen and (min-width: 710px) {
  .header .logo {
    max-width: 110px;
  }
}

.header .wrapper {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-column-gap: 0.8rem;
  align-items: center;
}

@media only screen and (min-width: 710px) {
  .header .wrapper {
    grid-column-gap: 2rem;
  }
}

.header .wrapper .nav-primary {
  justify-self: start;
}

.header .wrapper .mobile-menu {
  justify-self: end;
  min-width: 21px;
}